* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
}
.heading {
  margin-bottom: 30px;
}
.center {
  padding: 20px 40px;
  margin: 0 auto;
  max-width: 780px;
  font-family: sans-serif;
}
.app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
}
.lesson {
  width: 300px;
  padding: 20px 40px;
  border: 1px solid blanchedalmond;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.lesson-date {
  font-size: 20px;
  padding: 10px 20px;
  background-color: floralwhite;
}
.student-counter {
  padding: 10px 20px;
  background-color: beige;
}
.join-button {
  padding: 10px 20px;
  border: 1px solid transparent;
  background-color: green;
  color: white;
  cursor: pointer;
}
.join-button:active {
  -webkit-box-shadow: 18px 16px 8px 0px rgba(34, 60, 80, 0.2) inset;
  -moz-box-shadow: 18px 16px 8px 0px rgba(34, 60, 80, 0.2) inset;
  box-shadow: 18px 16px 8px 0px rgba(34, 60, 80, 0.2) inset;
}
.join-button:disabled {
  background-color: gray;
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
}
